.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    position: relative;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.category-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.category-list li {
    font-size: 1rem;
}

.category-list li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.category-list li a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.user-email {
    font-size: 1rem;
    color: black;
}

.user-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

.user-links li {
    font-size: 1rem;
}

.user-links li a {
    color: black;
    text-decoration: none;
}

.user-links li a:hover {
    text-decoration: underline;
}

.cart-icon {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}


@media (max-width: 768px) {

    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category-list {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem 0;
    }

    .category-list.active {
        display: flex;
    }

    .user-links {
        display: none;
    }

    .navbar-right {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: flex-end;
    }

    .hamburger {
        display: block;
    }
}

.cart-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    color: #333;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.cart-panel.open {
    transform: translateX(0);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-content {
    margin-top: 1rem;
    font-size: 1rem;
}

.cart-panel {
    transform: translateX(0);
}
